<div class="container-fluid">
  <div class="reservation-box">
    <h4 class="mb-3 border-bottom pb-3">予約内容確認</h4>
    <p>¥ <%= params[:price] %>/日</p>
    <%= form_for @reserve, method: :post, url: reserves_path do |f| %>
      <div class="py-2 border-top">
        <%= f.label :start, "開始日" %>
        <%= f.date_field :start, value: params[:start], readonly: true, class: "form-control" %>
      </div>
      <div class="py-2">
        <%= f.label :endday, "終了日" %>
        <%= f.date_field :end, value: params[:end], readonly: true, class: "form-control" %>
      </div>
      <div class="py-2">
        <p class="mb-1">使用日数</p>
        <p><%= @day %> 日</p>
      </div>
      <div class="py-2 border-top border-bottom mb-4">
        <%= f.label :pepole, "人数" %>
        <%= f.number_field :pepole, value: params[:pepole], readonly: true, class: "form-control" %>
      </div>
      <div class="py-2">
        <h5>合計金額</h5>
        <h4>¥ <%= @price %></h4>
        <p>上記内容でよろしければ「予約を確定」を押してください</p>
      </div>
      <div><%= f.submit "予約を確定", class: "btn btn-primary mb-3 w-100" %></div>
    
    <% end %>
  </div>
</div>
 
<%= link_to '戻る', :back, class: "btn btn-danger  mb-3 w-100" %> 
