<% if user_signed_in? && current_user.id == @post.user_id %>
 <h4>宿泊施設</h4>
 <p><%= @post.hotel %></p>
 <h4>場所</h4>
 <p><%= @post.place %></p>
 <h4>説明</h4>
 <p><%= @post.explantion %></p>
 <h4>値段</h4>
 <p><%= @post.price %></p>
 <h2>画像</h2>
<%= attachment_image_tag @post, :image, format: 'jpeg', size: "300x300" %><br>
<%= link_to '編集する', edit_post_path(@post.id), class: "btn btn-info mr-3" %><br>
<%= link_to '削除する', post_path(@post.id),method: :delete, "data-confirm"=>"本当に削除しますか？", class: "btn btn-danger" %><br>
<%= link_to '宿泊施設一覧ページへ', posts_path, class: "btn btn-dark mt-3" %>
<% else %>
 <h4>宿泊施設</h4>
 <p><%= @post.hotel %></p>
 <h4>場所</h4>
 <p><%= @post.place %></p>
 <h4>説明</h4>
 <p><%= @post.explantion %></p>
 <h4>値段</h4>
 <p><%= @post.price %></p>
 <h2>画像</h2>
  
 <%= attachment_image_tag @post, :image, format: 'jpeg', size: "300x300" %>
 <p>----------------------------</p>
 <div class="col-md-4 p-3">
      <div class="flex-column border p-3">
        <h4 class="mb-3">ルーム予約</h4>
        <h5 class="mb-4">¥ <%= @post.price %>/日</h5>
        <%= form_with(url: new_reserf_path, method: :get, local: true) do |f| %>
        <%= hidden_field_tag :post_id, @post.id %>
        <%= hidden_field_tag :price, @post.price %>
        <h6><%= f.label :startday, "開始日" %></h6>
        <div class="mb-4"><%= f.date_field :start, class: "form-control" %></div>
        <h6><%= f.label :end, "終了日" %></h6>
        <div class="mb-4"><%= f.date_field :end, class: "form-control" %></div>
        <h6><%= f.label :pepole, "人数" %></h6>
        <div class="mb-4"><%= f.number_field :pepole, class: "form-control" %></div>
        <div><%= f.submit "予約する", class: "btn btn-primary w-100" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <%= link_to '宿泊施設一覧ページへ', posts_path, class: "btn btn-dark mt-3" %>
<% end %>